@import '../../assets/scss/master';

.container {
  background-image: $applicationBackgroundImg;
  width: 100%;
background-repeat: no-repeat;
background-size: cover;
min-height: 100%;
padding-bottom: 20px;
}

.page-holder {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}