@import '../../assets/scss/master';

.container {
  background-image: $applicationBackgroundImg;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-holder {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}